<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="register-form mx-auto">
                <h2 class="register-header">Đăng ký</h2>
                
                <div class="form-group">
                    <label for="email">Email/Số điện thoại</label>
                    <input type="text" class="form-control" id="email" placeholder="Nhập email hoặc số điện thoại">
                    <div class="divider-nospace"></div>
                </div>
                
                <div class="form-group password-field mt-3">
                    <label for="password">Mật khẩu</label>
                    <div class="input-group">
                        <input type="password" placeholder="Ít nhất 8 ký tự" class="form-control" id="password">
                        <span class="input-group-text password-toggle">
                            <i class="fas fa-eye-slash"></i>
                        </span>
                    </div>
                    <div class="divider-nospace"></div>
                </div>
                
                <div class="form-group password-field mt-3">
                    <label for="confirm-password">Nhập lại mật khẩu</label>
                    <div class="input-group">
                        <input type="password" placeholder="Nhập lại mật khẩu" class="form-control" id="confirm-password">
                        <span class="input-group-text password-toggle">
                            <i class="fas fa-eye-slash"></i>
                        </span>
                    </div>
                    <div class="divider-nospace"></div>
                </div>
                
                <div class="form-group mt-3">
                    <label for="full-name">Họ và tên</label>
                    <input type="text" class="form-control" id="full-name" placeholder="Nhập họ và tên đầy đủ">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>